/*------------------------------------------------------------
  Lists
------------------------------------------------------------*/

ul, ol {
  list-style: none;
}

ul.circle {
  list-style: circle;
  word-break: break-word;
}

ul.disc{  
  list-style: disc;
  word-break: break-word;
} 
