/*------------------------------------------------------------
  Lists
------------------------------------------------------------*/

ul, ol {
  list-style: none;
}

ul.circle {
  list-style: circle;
}

ul.disc{  
  list-style: disc;
} 

ul.lm10{
  margin-left: -10px;
}

ul.lm20{
  margin-left: -20px;
}

li.lm10{
  margin-left: -10px;
}
