.cont_header p {
  font-size: 20px;
  font-weight: bold; 
}

.info * {
  box-sizing: border-box;
}

.info .table-experience {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 100%;
}

.info .table-experience .table-header {
  background-color: #327a81;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.info .table-experience table {
  width: 100%;
}
.info table td, table th {
  color: #2b686e;
  padding: 10px;
}
.info .table-experience table td {
  text-align: center;
  vertical-align: middle;
}

.info .table-experience td:first-child {
  word-break: keep-all;
}

.info .table-experience table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
.info .table-experience table th {
  background-color: #daeff1;
  font-weight: 300;
  text-align: center;
}
.info .table-experience table tr:nth-child(2n) {
  background-color: white;
}
.info .table-experience table tr:nth-child(2n+1) {
  background-color: #edf7f8;
}
.info .table-experience td ul {
  list-style-type: disc;
  display: block;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
}

.info .table-experience td ul .list{
  margin-left: -10px;
}

@media screen and (max-width: 700px) {
  .info .table-experience table, tr, td {
    display: block; 
  }

  .info .table-experience td:first-child {
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin-top: -10px;
    background-color: #daeff1;
    color: #333333;
    font-weight: bold;
  }
  .info .table-experience td:not(:first-child) {
    clear: both;
    margin-left: 10px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  .info .table-experience td:not(:first-child):before {
    color: #327a81;
    content: '';
    display: block;
    left: 0;
    position: absolute;
  }
  .info .table-experience td:nth-child(2):before {
    content: '개발기간';    
  }
  .info .table-experience td:nth-child(3):before {
    content: '담당업무';
  }
  .info .table-experience tr {
    padding: 10px 0;
    position: relative;
  }
  .info .table-experience tr:first-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .info .table-experience .table-header {
    background-color: transparent;
    color: #327a81;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .info .table-experience td:first-child {
    background-color: #c8e7ea;
    border-top: 0px;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    color: #333333;
    font-weight: bold;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
    margin-top: 0px;
    word-break: keep-all;
  }
  .info .table-experience td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }
  .info .table-experience td:not(:first-child):before {
    padding-top: 0.3em;
    position: relative;
    width: 100%;
    color: #333333;
    font-weight: bold;
    font-size: 15px;
  }
  .info .table-experience td:last-child {
    padding-bottom: 1rem !important;
  }
  .info .table-experience tr {
    background-color: white !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  }
  .info .table-experience {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}

th, td .left{
  text-align:left;
}

th, td .center{
  text-align:center;
}

th, td .right{
  text-align:right;
}
