<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script><!---->
    <link rel='stylesheet'  href='https://fonts.googleapis.com/earlyaccess/nanumgothic.css'/><!--나눔고딕 폰트-->
  </head>
  {% include head.html %}

  <body>
      <div class="outer">
        {% include header.html %}

        <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>

        {% include footer.html %}
      </div>
  </body>
  
</html>
